{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Registration{% endblock title %}

{% block content %}
    <div class="mask d-flex align-items-center h-100 gradient-custom-3 mt-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card text-white" style="border-radius: 15px; background-color: #353535;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5 text-white">Create an account</h2>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-outline mb-4">
                                    {{ form.username.label_tag }}
                                    {{ form.username|add_class:"form-control form-control-lg border-secondary" }}
                                </div>
                                <div class="form-outline mb-4">
                                    {{ form.email.label_tag }}
                                    {{ form.email|add_class:"form-control form-control-lg border-secondary" }}
                                </div>
                                <div class="form-outline mb-4">
                                    {{ form.password1.label_tag }}
                                    {{ form.password1|add_class:"form-control form-control-lg border-secondary" }}
                                </div>
                                <div class="form-outline mb-4">
                                    {{ form.password2.label_tag }}
                                    {{ form.password2|add_class:"form-control form-control-lg border-secondary" }}
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-light btn-block btn-lg text-dark">Sign Up</button>
                                </div>
                                <p class="text-center text-muted mt-5 mb-0">
                                    Have already an account?
                                    <a href="{% url "login" %}" class="fw-bold text-white"><u>Login here</u></a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
