{% extends "base.html" %}
{% load static %}

{% block title %}Single Page{% endblock title %}

{% block content %}
    <div class="breadcrumb-wrap">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">{{ a_piece_of_news.category }}</a></li>
                <li class="breadcrumb-item active">News details</li>
            </ul>
        </div>
    </div>
    <div class="single-news">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="sn-img">
                        <img src="{{ a_piece_of_news.image.url }}" />
                    </div>
                    <div class="sn-content">
                        <a class="sn-title">
                            {{ a_piece_of_news.title }}
                        </a>
                        <div class="d-flex justify-content-around mt-2">
                            <a class="sn-date d-flex align-items-center">
                                <i class="far fa-clock me-1"></i>
                                {{ a_piece_of_news.published_at }}
                            </a>
                            <a class="sn-date d-flex align-items-center">
                                <i class="bi bi-eye me-1"></i>
                                {{ a_piece_of_news.count }}
                            </a>
                        </div>
                        <p>
                            {{ a_piece_of_news.body }}
                        </p>
                        {% if request.user.is_authenticated %}
                            <form method="POST">
                                {% csrf_token %}
                                <div class="d-flex align-items-center">
                                    {{ form.comment }}
                                    <button type="submit" class="btn btn-primary ms-2">Қўшиш</button>
                                </div>
                            </form>
                            {% if comments %}
                                <div class="container my-5 py-5">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-12 col-lg-10 col-xl-8">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div>
                                                        <h6 class="fw-bold text-primary mb-1">{{ comments.user }}</h6>
                                                        <p class="text-muted small mb-0">
                                                            {{ comments.created_at}}
                                                        </p>
                                                    </div>
                                                </div>
                                                <p class="mt-3 mb-4 pb-2">
                                                    {{ comments.comment }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                {% comment %} NOTHING {% endcomment %}
                            {% endif %}
                        {% else %}
                            {% comment %} NOTHING {% endcomment %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sidebar">
                        <div class="sidebar-widget">
                            <h2><i class="fas fa-align-justify"></i>Category</h2>
                            <div class="category">
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">National</a></li>
                                    <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">International</a></li>
                                    <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">Economics</a></li>
                                    <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">Politics</a></li>
                                    <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">Lifestyle</a></li>
                                    <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">Technology</a></li>
                                    <li><span class="fa-li"><i class="far fa-arrow-alt-circle-right"></i></span><a href="">Trades</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar-widget">
                            <h2><i class="fas fa-align-justify"></i>Tags</h2>
                            <div class="tags">
                                <a href="">National</a>
                                <a href="">International</a>
                                <a href="">Economics</a>
                                <a href="">Politics</a>
                                <a href="">Lifestyle</a>
                                <a href="">Technology</a>
                                <a href="">Trades</a>
                                <a href="">National</a>
                                <a href="">International</a>
                                <a href="">Economics</a>
                                <a href="">Politics</a>
                                <a href="">Lifestyle</a>
                                <a href="">Technology</a>
                                <a href="">Trades</a>
                            </div>
                        </div>

                        <div class="sidebar-widget">
                            <h2><i class="fas fa-align-justify"></i>Ads 1 column</h2>
                            <div class="image">
                                <a href=""><img src="{% static 'img/adds-1.jpg' %}" alt="Image"></a>
                            </div>
                        </div>

                        <div class="sidebar-widget">
                            <h2><i class="fas fa-align-justify"></i>Ads 2 column</h2>
                            <div class="image">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href=""><img src="{% static 'img/adds-2.jpg' %}" alt="Image"></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a href=""><img src="{% static 'img/adds-2.jpg' %}" alt="Image"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
