{% extends "base.html" %}

{% block title %}Technologies{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center right-bck">
                <div class="registration-right">
                    <div class="event-list">
                        {% for news in technologies %}
                            <div class="card flex-row">
                                <img class="card-img-left img-fluid" src="{{ news.image.url }}" />
                                <div class="card-body">
                                    <h4 class="card-title h5 h4-sm">
                                        <i class="fas fa-caret-right" aria-hidden="true"></i>
                                        <span>{{ news.published_at }}</span>
                                    </h4>
                                    <a class="cn-title" href="{% url 'single_page' news.slug %}">
                                        <p class="card-text">{{ news.title }}</p>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
